section {
  margin: 0 auto;
  overflow: auto;
  height: 100vh;
  width: calc(100vw - 200px);
  background: #e0e4e2;
  table {
    position: relative;
    top: 128px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 70vw;
    font-size: 1rem;
    align-self: center;
    background: #ffffff;
    thead tr {
      background-color: #e6e6e6;
      color: var(--text);
      text-align: left;
      font-weight: bold;
    }

    th,
    td {
      padding: 14px 20px;
      cursor: pointer;
      text-align: left;

      img {
        width: 20px;
      }
    }

    td:last-child {
      text-align: left;
      width: 70px;
    }

    .hoverTr {
      background: var(--white);
    }

    .hoverTr:hover {
      background: #bcebd5;
    }

    tbody tr {
      // border-bottom: 1px solid #d1cece;
    }

    i.edit {
      color: blue;
    }

    i.delete {
      color: red;
      margin-left: 20px;
    }
  }
}
