<section>
  <table action="">
    <thead>
      <tr>
        <th>NOME</th>
        <th>E-EMAIL</th>
        <th>TELEFONE</th>
        <th>RECEITA</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
      <tr class="hoverTr">
        <td>carro</td>
        <td>teste</td>
        <td>teste</td>
        <td>teste</td>
        <td>
          <a routerLink="">
            <i class="edit">edit </i>
          </a>
          <a routerLink="">
            <i class="delete">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
