<section>
  <table action="">
    <thead>
      <tr>
        <th>NOME</th>
        <th>E-EMAIL</th>
        <th>TELEFONE</th>
        <th>RECEITA</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hoverTr" *ngFor="let users of users">
        <td>{{ users.name }}</td>
        <td>{{ users.email }}</td>
        <td>{{ users.phone }}</td>
        <td>{{ users.revenue | currency: "BRL" }}</td>
        <td>
          <a routerLink="/users/{{ users.id }}">
            <img src="../../../../assets/caret-right.svg" alt="" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
