section {
  max-width: 200px;
  width: 100%;
  background: #3aab34;
  height: 100vh;
  color: #fff;
  h1 {
    font-size: 1.125rem;
    text-align: center;
    padding: 20px;
    letter-spacing: 0.5;
  }
}
